name: Test / DTEK Blackout Schedule Calendars

on:
  pull_request:
    types: [opened, edited]

jobs:
  build:
    name: Calendars / Build
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v6

      - name: Node setup
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Python setup
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install requirements
        run: python3 -m pip install -r .github/requirements.txt

      - name: NPM Init
        run: npm i
        
      - name: Building Manual
        run: node make-manual.mjs

      - name: Update JSON
        run: python3 update.py
        working-directory: update

      - name: Building Daily
        run: node make-daily.mjs

      - name: Upload Artifacts / Calendars
        uses: actions/upload-artifact@v5
        with:
          name: iCal Calendars
          path: |
            ${{ github.workspace }}/public/*/*/*.ical
          if-no-files-found: error
